<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="nav">
    <ul>
      <li><a class="temp" routerLink="/homelink"><img src="./assets/air2.jpg" style="width:55px;height:55px;"></a></li>
      <li class="diff"><b>AirFuselage</b></li><br/>
      <li><a routerLink="/homelink">Home |</a></li>
      <li class="dropdown"><a routerLink="/planlink" class="dropbtn">Plan&Book |</a>
        <div class="dropdown-content">
          <a routerLink="/homelink">Book a flight</a>
          <!--<a routerLink="">Link 2</a>
          <a routerLink="#">Link 3</a>-->
        </div>
      </li>
      <li><a routerLink="/classeslink">Classes |</a></li>
      <li><a routerLink="/discoverlink">Discover |</a></li>
      <li><a routerLink="/registerlink">Sign Up |</a></li>
      <li><a routerLink="/loginlink"><button class="button">Sign In</button></a></li>
    </ul> 
    </div>
      
          <router-outlet></router-outlet>
        
    
  <div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h2 class="logo-text"><span>Air</span>Fuselage</h2>
        <p>About the airline</p>
        <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; 123-456-789</span>
            <span><i class="fas fa-envelope"></i>&nbsp; airfuselage@gmail.com</span>
        </div>
        <div class="socials">
          <a href="#" class="social"><img src="./assets/facebook.jpg" style="width: 600px;height:55px;"></a>
          <a href="#" class="social"><img src="./assets/instagram.jpg" style="width: 600px;height:55px;"></a>
          <a href="#" class="social"><img src="./assets/twitter.png" style="width: 600px;height:55px;"></a>
          <a href="#" class="social"><img src="./assets/youtube.png" style="width: 1000px;height:55px;"></a>

        </div>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul class="newul">
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">MILES&SMILES</a></li>
          <li><a href="#">TERMS & CONDITIONS</a></li>
        </ul>
      
      </div>
      <div class="footer-section Contact-form">
      <h2>Contact us</h2>
      <br>
      <form>
        <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
        <textarea name="message" class="text-input contact-input" placeholder="Your message here..."></textarea><br>
        <button type="submit" class="btn btn-big contact-btn" >
           <img src="./assets/email.png">&nbsp;&nbsp;
          send
        </button>
      </form>
    </div>
  </div>
    <div class="footer-bottom">
      &copy; AirFuselage </div>
  </div>  
  
</body>
</html>