<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="nav">
    <ul>
      <li><img src="./assets/air2.jpg" style="width:55px;height:55px;"></li>
      <li class="diff"><b>AirFuselage</b></li><br/>
      <li><a routerLink="/planlink">Plan&Book |</a></li>
      <li><a routerLink="/classeslink">Classes |</a></li>
      <li><a routerLink="/discoverlink">Discover |</a></li>
      <li><a routerLink="/registerlink">Sign Up |</a></li>
      <li><a routerLink="/loginlink"><button class="button">Sign In</button></a></li>
    </ul> 
    </div>
    
          <router-outlet></router-outlet>
        
    
    
  <div div class="footer">@LTI copyright</div>
</body>
</html>